.tote_main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tote_main p{
    color:#884cd2;
}
.tote_banner{
    background-image: url("../image/tote_bannerpik.webp");
    height: 473px;
    width: 100%;
}
.tote_banner p{
    color: #884cd2;
    text-align: center;
    font-family: myfont;
    font-size: 50px;
    position: relative;
    top: 150px;
}
.tote_content1{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.tote_content2{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.tote_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.heart{
    height: 35px;
    width: 35px;
    border:#ff4f9d 1px solid;
    border-radius: 17px;
    position: absolute;
    left: 255px;
    top: 25px;
    background-color: #ff4f9d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}