{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>
<body>
    <div class="footer_main">
        <div class="footer_div">
            <div class="footer1">
                <h2>About</h2>
                <p>Our Story</p>
                <p>Blog</p>
                <p>Our Team</p>
                <p>Careers</p>
            </div>
            <div class="footer2">
                <h2>Shop</h2>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
                <p>Returns & Refunds</p>
                <p>FAQs</p>
            </div>
            <div class="footer3">
                <h3>Customer Care</h3>
                <p>Orders</p>
                <p>Payment</p>
                <p>Delivery</p>
                <p>Track My Order</p>
            </div>
            <div class="footer">
                <h3>Newsletter</h3>
                <p>Subscribe to receive updates, access to exclusive deals, and more.</p>
                <input type="email" placeholder="Enter your email Address">
                <button type="submit">Subscribe</button>
            </div>
        </div>
        <div class="footer_links"> 
            <h4>Follow Us</h4> 
            <div class="links">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-pinterest"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-youtube"></i>
            </div>
        </div>
        
    </div>
    
</body>
</html>